
@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'
);

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:'Poppins',sans-serif;

  background:#f5f8f4;

  overflow-x:hidden;
}

a{
  text-decoration:none;
}

button{
  font-family:inherit;
}
html,
body,
#root{
  width:100%;
  overflow-x:hidden;
}

section{
  width:100%;
  overflow:hidden;
}